 <!-- Africa cam-results container -->
      <!-- VIDEO CARDS -->
      <div class="category-scroll mt-4">
        <h2 class="text-light ml-4">Africa Cams</h2>
        <div class="container-fluid">
          <div class="category-pictures">
            <img src="images/lion.png" alt="" class="video-image" />
            <img src="images/red.png" alt="" class="video-image" />
            <img src="images/zebra.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
            <img src="images/turtle.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
          </div>
        </div>
      </div>