<!-- Aquatic cam-results container -->
      <div class="category-scroll  mt-4">
        <h2 class="text-light ml-4">Aquatic Cams</h2>
        <div class="container-fluid">
          <div class="category-pictures">
            <img src="images/elephant.png" alt="" class="video-image" />
            <img src="images/red.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
            <img src="images/panda.png" alt="" class="video-image" />
          </div>
        </div>
      </div>