<!-- Arctic cam-results container -->
      <div id="arctic" class="mt-4">
        <h2 class="text-light float-left" style="margin-left: 20px">
          Arctic Cams
        </h2>
        <div class="float-right">
          <!-- Next and previous buttons -->
          <button
            id="prevArctic"
            class="scrollButtons"
            onclick='moveGroups(-1, "arctic")'
          >
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button
            id="nextArctic"
            class="scrollButtons"
            onclick='moveGroups(1, "arctic")'
          >
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
        <!-- Slide div: holds 4 Images w/ links -->
        <div class="arctic-cam-groups">
          <div class="d-flex flex-wrap w-100">
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/lion.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/zebra.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/turtle.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/red.png" class="w-100"
              /></a>
            </div>
          </div>
        </div>
        <!-- Slide div: holds 4 Images w/ links -->
        <div class="arctic-cam-groups">
          <div class="d-flex flex-wrap w-100">
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/turtle.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/panda.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/zebra.png" class="w-100"
              /></a>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
              <a href="https://localhost3001/singlevideo"
                ><img src="images/lion.png" class="w-100"
              /></a>
            </div>
          </div>
        </div>
      </div>