<div class="liveCams" style="margin: 40px 20px">
  <h2 class="categoryTitle">Live Cams</h2>
  <div class="categorySlides swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/panda.png"
            alt=""
          />
        </a>
      </div>
       <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
      </div>
       <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/zebra.png"
            alt=""
          />
        </a>
      </div>
       <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/lion.png"
            alt=""
          />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/panda.png"
            alt=""
          />
        </a>
      </div>
    </div>

    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>