<div style="margin: 0px 20px 20px 40px">
  <a href="/category/live" class="categoryTitle">Live Cams</a>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="categorySlides swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img
            class="videoThumbnail"
            src="images/red.png"
            alt=""
          />
        </a>
        <p class="videoInfo">
          Cam title <br />
          <span style="color: gray">Monterey Zoo 2018</span>
        </p>
      </div>
    </div>
    <!-- navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>