<section class="favoritespage" style="background-color: #111112">
  <div class="favorites_Header">
    <div class="container">
      <div
        class="row d-flex justify-content-center "
        style="padding-top: 50px"
      >
        <h1 class="col-12 category_Title" >
          "User" Favorites Dashboard
        </h1>
        <p class="category_page_description col-8">
          All of cutest, wildest, funniest, bravest, adorable animals you
          have saved. A collection of your most-loved critters.
        </p>
      </div>
    </div>
  </div>
  <h2 class="category_sub_title">Visit Now</h2>
  <hr style="border-top: 1px solid #666666ff" />
  <div class="container">
    <div class="row d-flex justify-content-between">

        {{#each this}}
      <div id="category-video-card" class="col-lg-4 p-3">
        <img
          src="{{video.thumbnail}}"
          class="col-12 p-3"
          style="border-radius: 25px"
        />
      </div>
      {{/each}}
      
    </div>
  </div>
</section>
