<!-- Nav Bar -->
    <nav style="padding-top: 10px">
      <form action="search">
        <input
          type="text"
          class="searchBar"
          placeholder="Search Cams"
          name="search"
        />
        <button class="searchButton">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <div class="navOptions">
        <ul>
          <li>
            <a href="/" class="text-light">Home</a>
          </li>
          <li>
            <a href="/dashboard" class="text-light">Favorites</a>
          </li>
          <li>
            <a href="/login" class="text-light">Donate</a>
          </li>
          <li>
            <a href="/shop" class="text-light">Shop</a>
          </li>
          <li>
            <a href="/login" class="text-light">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    <section class="favoritespage">
      <h1 class="favorites-h1">"User" Favorites Dashboard</h1>
      <div class="container" style="background-color: #111112; border-radius: 15px">
        <div class="row d-flex justify-content-between">
          <div class="col-lg-6 p-3">
            <img src="images/panda.png" class="col-12 p-3" />
          </div>
          <div class="col-lg-6 p-3">
            <img src="images/red.png" class="col-12 p-3" />
          </div>
          <div class="col-lg-6 p-3">
            <img src="images/turtle.png" class="col-12 p-3" />
          </div>
        </div>
      </div>
    </section>