<nav>
  <div class="nav-Title">
    <h3 class="text-light ">Zoolander</h3>
  </div>
  <div class="float-right" style="padding-right: 40px;">
    <ul>
      <li>
        <a href="/homepage" class="text-light">Home</a>
      </li>
      <li>
        <a href="/dashboard" class="text-light">Favorites</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Donate</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Shop</a>
      </li>
      <li>
        <button id="logout" style="background-color: transparent; border-style: none; color: white" class="btn-no-style">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<!-- HOMEPAGE BACKGROUND/WELCOME -->
<section class="home-page">      

  <div id="home-hero">
    <div class="w-50 ml-5">
      <p class="text-secondary">Welcome</p>
      <h1 class="text-light">
        Watch Your Favorite Animals <br />
        "Something needs to go here"
      </h1>
      <p class="text-secondary w-75">
       " Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
        adipisci fugit quas quia assumenda, facilis non reprehenderit
        repudiandae."
      </p>
    </div>
  </div>

  {{> category-carousel }}

</section>

<!-- swiper.js script -->
<script>
  var mySwiper = new Swiper(".swiper", {
    // Optional parameters
    slidesPerView: 4,
    slidesPerGroup: 4,
    freeMode: true,
    speed: 500,
    breakpoints: {
      // when window width is >= 560px
      560: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      // when window width is >= 768px
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      // when window width is >= 980px
      980: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
    },
    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

<script src="/javascript/logout.js"></script>

<footer>
  <span style="color: #d7d4d4b4">Thanks for visiting!</span> © Zoolander
  Virtual Zoo For Kids Who Can't Travel Alone Good And Who Wanna Learn About
  Cool Animals And Other Stuff Too
</footer>