<section class="landingPage"></section>
    <!-- HOMEPAGE BACKGROUND/WELCOME -->
 <section class="home-page">
      <nav style="padding-top: 10px">
        <form action="search">
          <input
            type="text"
            class="searchBar"
            placeholder="Search Cams"
            name="search"
          />
          <button class="searchButton">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <div class="navOptions">
          <ul>
            <li>
              <a href="/" class="text-light">Home</a>
            </li>
            <li>
              <a href="/dashboard" class="text-light">Favorites</a>
            </li>
            <li>
              <a href="/login" class="text-light">Donate</a>
            </li>
            <li>
              <a href="/shop" class="text-light">Shop</a>
            </li>
            <li>
              <a href="/login" class="text-light">Log Out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div id="home-hero">
        <div class="w-50 ml-5">
          <p class="text-secondary">Welcome, "Username"</p>
          <h1 class="text-light">
            Watch Your Favorite Animals <br />
            Live From a Zoo Near You
          </h1>
          <p class="text-secondary w-75">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque,
            adipisci fugit quas quia assumenda, facilis non reprehenderit
            repudiandae.
          </p>
        </div>
      </div>

{{> live-cams }}
{{> aquatic-cams }}
{{> africa-cams }}
{{> arctic-cams }}