<nav>
  <div class="nav-Title">
     <h3 class="text-light ">Zoolander</h3>
  </div>
  <div class="float-right" style="padding-right: 40px;">
    <ul>
      <li>
        <a href="/homepage" class="text-light">Home</a>
      </li>
      <li>
        <a href="/dashboard" class="text-light">Favorites</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Donate</a>
      </li>
      <li>
        <a href="/inProgress" class="text-light">Shop</a>
      </li>
      <li>
        <button id="logout" style="background-color: transparent; border-style: none; color: white" class="btn-no-style">Logout</button>
      </li>
    </ul>
  </div>
</nav>

<div style="
background-color: #1e1e1f;
height: 100vh;
">
    <h2 style="
    padding-top: 120px; 
    text-align:center;
    color: white;
    margin-bottom: 60px;
    ">...This page is currently in the works! Check back later!...</h2>
    <img style="
    height: 450px; 
    width: 650px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    " 
    src="../images/work_in_progress.png" 
    alt="Two construction crew standing near a building frame.">
</div>

<script src="/javascript/logout.js"></script>