<div class="text-center login-page">
    <div class="heroImage">
    </div>
    <form id="Form" class="login-form align-items-center">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">

            <input type="email" class="form-control" id="email" placeholder="name@example.com" required>
            <label for="email">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password" required>
            <label for="password">Password</label>

        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" id="login" value="Login" type="submit">Sign in</button>

        <div>
            <p class="mt-3 mb-1">New to the Zoo?</p>
            <a href="/sign-up">Sign Up Here</a>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; Zoolander2022</p>
    </form>
</div>

 <script src="/javascript/login.js"></script>
