<div class="bg-light">
    <div class="container">
        <section>
            <div class="py-5 text-center">
                <h2>Sign Up</h2>
                <p class="lead">Sign up and explore what Virtual Zoo has to offer! Watch hours of live and pre-recorded
                    quality footage from capital zoos! Satisfy your love for fluffy and cute animals today!</p>
            </div>

            <div class="row g-5 justify-content-center">
                <div class="col-md-7 col-lg-8">
                    <form class="needs-validation signup-form" novalidate>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label>First name</label>
                                <input class="form-control" placeholder="first" required>
                            </div>

                            <div class="col-sm-6">
                                <label>Last name</label>
                                <input class="form-control" placeholder="last" required>
                            </div>
                            <div class="col-12">
                                <label>Username</label>
                                <input class="form-control" placeholder="Username" required>
                            </div>
                            <div class="col-12">
                                <label>Email </label>
                                <input type="email" class="form-control" placeholder="name@example.com" required>
                            </div>

                            <div class="col-12">

                                <label>Password</label>
                                <input class="form-control" placeholder="password" id="password" required>

                            </div>

                            <button class="w-100 btn btn-primary btn-lg mt-5" type="submit">Sign Up and Continue</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; Zoolander2022</p>
        </section>
    </div>

</div>

<script src="/javascript/signup.js"></script>