{{> video-info video }}


{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="fav-btn">fav</button>
  </div>
</form>
{{/if}}

{{> comments video.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/fav.js"></script>
{{/if}}

{{!-- post = video --}}