<div class="text-center text-white b0dy">
    <div class="cover-container p-3 mx-auto flex-column">
        <header class="mb-4">
            <div class="navbar rounded">
                <h3 class="mb-0 float-left">Zoolander</h3>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">Favorites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="">LogOut</a>
                    </li>
                </ul>
            </div>
        </header>

        <section class="px-3">
            <div class="figure float-left">
                <img src="/images/Polar-bear.jpg" class="figure-img img-fluid rounded">
                <figcaption class="figure-caption">Look at this cute polar bear!</figcaption>
            </div>
            <div class="float-right comments">
                <input class="form-control" placeholder="comments">
            </div>
        </section>
    </div>
</div>