* {
    padding: 0px;
    margin: 0px;
}
.login-page {
    height: 100vh;
    align-items: center;
    display: flex;
    border: 5px #1e5288 solid;
}
.heroImage {
    height: 100%;
    width: 25%;
    background-image: url(../images/Polar-bear.jpg);
    background-size:cover;
    background-position:center;
    background-position: 46%;
    border-right:3px #1e5288 solid;
}
#Form {
    width: 50%;
    margin: 0px auto 0px auto;
}