* {
  box-sizing: border-box;
}

/* STYLES TO HOMEPAGE */
.favoritespage,
.home-page {
  background-color: #1e1e1f;
  padding-bottom: 100px;
}

#home-hero {
  width: 100%;
  background-image: url(../images/homepage.png);
  background-size: cover;
  padding-top: 125px;
  padding-bottom: 185px;
}

/* Slideshow container */
.scrollButtons {
  cursor: pointer;
  padding: 15px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: white;
}

/* STYLES TO NAV BAR */
nav {
  padding-top: 10px;
  width: 100%;
  height: 50px;
  background: #1e1e1f;
  position: fixed;
  top: 0;
  z-index: 7;
}

.nav-Title {
  float: left;
  margin-left: 20px;
}

nav li {
  display: inline;
  padding: 10px;
}

#logout:hover {
  text-decoration: underline;
}

/* STYLES TO CAROUSELS */

.categoryTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 10px;
  color: white;
}

.categoryTitle:hover {
  color: white;
}

.videoThumbnail {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.videoThumbnail:hover {
  transform: scale(1.1);
}

.videoInfo {
  color: white;
  margin-top: 10px;
  font-size: 11px;
}

.categorySlides .swiper-button-prev,
.categorySlides .swiper-button-next {
  color: white;
  top: 0;
  margin-top: 0.5px;
  height: 90%;
  width: 40px;
}

.categorySlides .swiper-button-prev {
  left: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.categorySlides .swiper-button-next {
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.categorySlides .swiper-button-prev:hover,
.categorySlides .swiper-button-next:hover {
  background-color: #1f1e1e98;
}

footer {
  background-color: #1e1e1f;
  text-align: center;
  color: #b5b3b3b4;
  text-shadow: 1px 1px 2px #595858eb;
  padding: 20px;
}

/* STYLES TO FAVORITES PAGE */
.category_Title {
  text-align: center;
  padding-top: 70px;
  color: #d6d6d6;
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
}

/* STYLES TO CATEGORY AND USER FAVORITES PAGES */

#category-video-card {
  transition: all 0.2s ease-in-out;
}

#category-video-card:hover {
  transform: scale(1.1);
}

.category_sub_title {
  margin-top: 10px;
  padding-left: 20px;
  color: white;
  font-size: 20px;
}

.category_page_description {
  font-size: 20px;
  color: #c9c9c9;
  text-shadow: 1px 1px 3px #595858eb;
}

/* MEDIA QUERY FOR 980px */
@media screen and (max-width: 980px) {
  .category_Title {
    padding-top: 5px;
  }

  #home-hero {
    padding-bottom: 100px;
  }
}

/* MEDIA QUERY FOR 768px */
@media screen and (max-width: 886px) {
  #home-hero {
    background-image: url(../images/homepage_md.png);
  }

  #home-hero {
    padding-bottom: 80px;
  }
}

/* MEDIA QUERY FOR 575px */
@media screen and (max-width: 575px) {
  #home-hero {
    background-image: url(../images/homepage_sm.png);
  }
}

/* MEDIA QUERY FOR 520px */
@media screen and (max-width: 520px) {
  #home-hero h1 {
    font-size: 20px;
  }

  #home-hero p {
    font-size: 15px;
  }

  nav a {
    font-size: 10px;
  }

  #logout {
    font-size: 10px;
  }

  .nav-Title h3 {
    font-size: 15px;
  }

  .category_page_description {
    font-size: 16px;
  }

  .category_Title {
    font-size: 30px;
  }
}

/* MEDIA QUERY FOR 412px */
@media screen and (max-width: 412px) {
  #home-hero {
    padding-top: 70px;
  }
}

/* MEDIA QUERY FOR 360px */
@media screen and (max-width: 360px) {
  #home-hero {
    padding-bottom: 70px;
  }

  #home-hero h1 {
    font-size: 15px;
  }

  #home-hero p {
    font-size: 10px;
  }

  .nav-Title h3 {
    font-size: 10px;
  }
}

/* MEDIA QUERY FOR 343px */
@media screen and (max-width: 343px) {
  nav {
    height: 60px;
  }

  #home-hero {
    padding-bottom: 10px;
  }
}

/* MEDIA QUERY FOR 280px */
@media screen and (max-width: 280px) {
  nav {
    height: 55px;
  }

  #home-hero {
    padding-bottom: 0px;
  }

  .category_page_description {
    font-size: 12px;
  }

  .category_Title {
    font-size: 24px;
  }
}