.b0dy {
    background-color: #1f1e1f;
    display: flex;
    min-height: 100vh;
}

.support-section {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25vw;
    margin: 1.5%;
}

.card-img-top {
    height: 35vh;
}

/* MEDIA QUERY FOR 980px */
@media screen and (max-width: 980px) {
    .card-img-top {
        height: 24vh;
    }
    .marGin {
        margin: 0px 60px;
    }
}

/* MEDIA QUERY FOR 768px */
@media screen and (max-width: 886px) {

}

/* MEDIA QUERY FOR 575px */
@media screen and (max-width: 575px) {
    .card-title {
        font-size: 16px;
        width: 120%;
    }
    a.btn {
        font-size: 12px;
    }
}

/* MEDIA QUERY FOR 520px */
@media screen and (max-width: 520px) {

}

/* MEDIA QUERY FOR 412px */
@media screen and (max-width: 412px) {

}

/* MEDIA QUERY FOR 360px */
@media screen and (max-width: 360px) {

}

/* MEDIA QUERY FOR 343px */
@media screen and (max-width: 343px) {

}

/* MEDIA QUERY FOR 280px */
@media screen and (max-width: 280px) {

}