* {
  box-sizing: border-box;
}

.home-page {
  height: 100vh;
  background-image: url(./images/homepage.png);
  background-size: cover;
}

#home-hero {
  margin-top: 150px;
  margin-bottom: 80px;
  /* border: 10px solid red; */
}

.cam-scroll {
  height: 350px;
  margin-top: 100px;
}

h1 {
  font-size: 150px;
}

/* Slideshow container */
.cam-results-container,
.cam-results-container2 {
  border: 2px solid transparent;
  width: 100%;
  margin: auto;
}

.camThumbnails {
  height: 200px;
  width: 300px;
}

/* Flex the slide div (allows 3 images per slide) */
.set-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.scrollButtons {
  cursor: pointer;
  padding: 20px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: white;
}

/* Position the next & previous buttons to the right */
.set-right {
  position: absolute;
  right: 0px;
  border: 2px solid transparent;
}

/* On hover, add a black background color with a little bit see-through */
.scrollButtons:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
