* {
  box-sizing: border-box;
}

/* STYLES TO HOMEPAGE */
.home-page {
  height: 100vh;
  background-image: url(./images/homepage.png);
  background-size: cover;
}

.homepageCont {
  background-color: black;
  padding-bottom: 100px;
}

#home-hero {
  padding-top: 150px;
  margin-bottom: 80px;
}

/* Slideshow container */
.live-cams-container,
.aquatic-cams-container,
.africa-cams-container,
.arctic-cams-container {
  border: 2px solid transparent;
  width: 100%;
  margin: auto;
}

.camThumbnails {
  height: 200px;
  width: 300px;
  margin-left: 40px;
}

/* Flex the slide div (allows 3 images per slide) */
.set-flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.scrollButtons {
  cursor: pointer;
  padding: 20px;
  user-select: none;
  background-color: transparent;
  border: none;
  color: white;
}

/* Position the next & previous buttons to the right */
.set-right {
  position: absolute;
  right: 0px;
  border: 2px solid transparent;
}

/* On hover, add a black background color with a little bit see-through */
/* .scrollButtons:hover {
  background-color: rgba(0, 0, 0, 0.8);
} */

/* STYLES TO NAV BAR */
nav {
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9220281862745098) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.9304315476190477) 100%
  );
  position: fixed;
  /* right: 0px; */
}

nav li {
  display: inline;
  padding: 10px;
}

.navOptions {
  float: right;
  padding-right: 40px;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

form {
  float: left;
  margin-left: 20px;
  background-color: #eeeeee88;
  border: 2px solid #d9d9d9;
  border-radius: 10px;
}

.searchBar {
  padding-left: 10px;
  padding-right: 10px;
  color: #d9d9d9;
  border: none;
  background-color: transparent;
}

::placeholder {
  color: #cccccc;
}

.searchButton {
  color: white;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid transparent;
}
